@font-face {
  font-family: "Genhead";
  src: url(../recursos/Fuentes/genhead-futuristic-font/genhead.otf);
}

@font-face {
  font-family: "GenheadBold";
  src: url(../recursos/Fuentes/genhead-futuristic-font/genhead-bold.otf);
}

@font-face {
  font-family: "Andalemo";
  src: url(../recursos/Fuentes/andale-mono-cufonfonts/ANDALEMO.TTF);
}

@font-face {
  font-family: "Roboto";
  src: url(../recursos/Fuentes/Roboto/Roboto-Medium.ttf);
}