/* Reset */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #282828;
}

/* ESTILOS GENERALES - START */
/* ESTILOS NAVBAR - START*/

.navbar--personalizacion {
    background-color: #dce3e3;
    font-family: Genhead;
    font-weight: bold;
    color: #282828;
}

.logo--tamano {
    width: 75px;
    padding: 8px;
}

/* ESTILOS NAVBAR - END*/
/* MAIN - START */
.main__imagenPricipal {
    width: 100%;
    height: 35vh;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.main__subtitulo {
    font-family: Genhead;
    font-weight: bold;
    color: #00887a;
    padding: 0;
    margin: 0;
    margin-right: 10px;
    text-shadow: 0 0 2px #0009;
}

.subtitulo--custom {
    font-size: 1.4rem;
}

.contenido {
    display: flex;
    flex-direction: column;
    color: #dce3e3;
    margin: 10px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.contenido__parrafo {
    margin: 10px;
}

.contenido__img {
    width: 100%;
    height: auto;
}

/* MAIN - END */

/* ESTILOS DEL FOOTER - START */

.footer {
    margin: 10px;
}

.footer__list {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    list-style: none;
}

.link__icon {
    margin: 0;
    padding: 0;
    width: 35px;
}

.footer__parrafo {
    margin: 5px;
    text-align: center;
    color: #dce3e3;
}

/* ESTILOS DEL FOOTER - END */

/**** ESTILOS DE HOME - START *****/
/* MAIN - START*/

.imgPrincipal--imgPrincipalPagHome {
    background-image: url(../recursos/img/img-principal-home-3.jpg);
}

/* MAIN - END*/
/**** ESTILOS DE HOME - END *****/

/**** ESTILOS DE PIZZETTAS - START *****/

.imgPrincipal--imgPrincipalPagPizzettas {
    background-image: url(../recursos/img/img-principal-pizzettas.jpg);
}

.subtitulo--pizzettas {
    font-size: 1.1rem;
    color: #282828;
    text-shadow: 0 0 2px #dce3e3;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cards__card {
    width: 45%;
    height: 260px;
    background-color: #dce3e3;
    margin: 8px;
    text-align: center;
    line-height: 15px;
    box-shadow: 0 0 10px #dce3e3;
}

.card__img {
    width: 100%;
}

.title--card {
    font-size: 0.8rem;
    margin: 3px;
    padding: 0;
    font-family: Genhead;
    font-weight: bold;
}

.cards__description {
    margin: 3px;
    padding: 0;
    font-family: Anton;
    font-size: 0.8rem;
}

/**** ESTILOS DE PIZZETTAS - END *****/

/* ESTILOS PAGINA HISTORIA - START */

.imgPrincipal--imgPrincipalPagHistoria {
    background-image: url(../recursos/img/historia-img-principa.jpg);
}

/* ESTILOS PAGINA HISTORIA - END */

/* ESTILOS PAGINA HISTORIA - START */

.imgPrincipal--imgPrincipalPagContactos {
    background-image: url(../recursos/img/img-principal-contactos.jpg);
}

.contenido__contactos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacto__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ESTILOS PAGINA HISTORIA - END */

/* ESTILOS PAGINA CONTACTOS - START */

.contenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.link__contactos {
    width: 70px;
    height: 70px;
    margin: 10px;
    padding: 0;
}

.contenedor__icon {
    width: 100%;
}

.contenedor__desc {
    color: #dce3e3;
    font-family: Genhead;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.contenedor__info {
    color: #dce3e3;
    font-family: Roboto;
    font-weight: bold;
}

.info--desc {
    margin: 0;
    padding: 0;
}


/* ESTILOS PAGINA CONTACTOS - START */