//Import variables
@import "../utilidades/variables";
//Import mixin
@import "../utilidades/mixin";

/***** Estilos de PC *****/

@media screen and (min-width:1280px){
    /* ESTILOS GENERALES */
        a:hover{
            @include font-size(1.3rem);
        }

    .contenido__parrafo {
        @include font-size(1.5rem);
    }

    /* ESTILOS HOME */
    .imgPrincipal--imgPrincipalPagHome{
        h2{
            @include font-size(5rem);
        }
    }
    

    /* ESTILOS PIZZETTAS */
    .imgPrincipal--imgPrincipalPagPizzettas
    h2{
        @include font-size(4rem);
    }

    .cards__card {
        height: auto;
        margin: 15px;
    }
}
