@mixin flex-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin img-contenido{
    width: 100%;
    height: auto;
}

@mixin font-size($size){
    font-size: $size;
}