$bg-color: #282828;
$navBar-text-color: #282828;
$navBar-bg-color: #dce3e3;
$font-family: "Orbitron", sans-serif;
$bg-footer-color: #dce3e3;
$text-footer-color: #282828;
$titulo-color: #00887a;
$text-color: #dce3e3;
$cards-bg-color: #dce3e3;